[package]
name = "nanalogue"
version = "0.1.0"
edition = "2024"
description = "Mod BAM parsing tools in rust"
license = "MIT"
readme = "README.md"
authors = ["Sathish Thiyagarajan <sathish.thiyagarajan@earlham.ac.uk>"]

[dependencies]
rust-htslib = "0.49.0"
clap = { version = "4.0.29", features = ["derive", "wrap_help"] }
csv = "1.1"
serde = { version = "1.0", features = ["derive"] }

[lib]
name = "nanalogue_core" # A distinct name for the library
path = "src/lib.rs"

[[bin]]
name = "nanalogue"
path = "src/main.rs"
