[package]
name = "nanalogue"
version = "0.1.0"
edition = "2024"
description = "Mod BAM parsing tools in rust"
license = "MIT"
readme = "README.md"
authors = ["Sathish Thiyagarajan <sathish.thiyagarajan@earlham.ac.uk>"]

[dependencies]
fibertools-rs = "0.6.4"
rust-htslib = "0.43.0"
clap = { version = "4.0.29", features = ["derive", "wrap_help"] }
csv = "1.1"
serde = { version = "1.0", features = ["derive"] }
bio = "1.5.0"
lazy_static = "1.4.0"
regex = "1.11.1"
log = "0.4.22"
bio-types = "1.0.4"
bedrs = "0.2.25"
thiserror = "2.0.12"

[lib]
name = "nanalogue_core" 
path = "src/lib.rs"

[[bin]]
name = "nanalogue"
path = "src/main.rs"
