[package]
name = "nanalogue"
version = "0.1.0"
edition = "2024"

[dependencies]
rust-htslib = "0.49.0"
clap = { version = "4.0.29", features = ["derive", "wrap_help"] }
csv = "1.1"
serde = { version = "1.0", features = ["derive"] }
